body{font-size: 16px;}
.header{position: fixed; top: 0; height: 50px; width: 100%; background: #0FACF3; box-shadow: 0 0 3px rgba(0,0,0,0.5); z-index: 1;}
.clearchat{float: right; height: 50px; display: inline-block; width: 50px; position: relative;}
.clearchat img{position: absolute; top: 50%; left: 50%;transform: translate(-50%, -50%); width: 25px;}
.input-form{width: 100%;margin-top: 90%;margin-bottom: 20px;}
#userName, #join input{ border: none; border-bottom: 2px solid #eee; width: 100%;  font-size: 20px; padding: 5px; text-align: center;outline: none;}
.input-form .line, #join .line{width: 0%; background: #337ab7; height: 2px; display: block; margin-top: -2px; position: relative; transition: width 0.3s;}
.start, #join button{width: 100%; font-size: 20px;}
.join, .host, .chatbox{display: none;}
.chatbox{position: absolute; width: 100%; height:100%; margin-left: -15px; background: url(../imgs/chat.png) no-repeat center center; background-size: cover;}
.textsend{position: absolute; padding: 7px; bottom: 0; height: 50px;width: 100%}
.textsend .sendbtn{display: inline-block; position: absolute; right: 5px; top: 50%; transform: translateY(-50%);}
.textsend .sendbtn img{width: 36px;}
.textsend .msg{width: calc(100% - 45px); height: 100%; padding: 10px; font-size: 18px; outline: none; border-radius: 10px; border:1px solid #333;}
.msgs{position: absolute; top: 50px; width: 100%; height: calc(100% - 100px); padding: 10px; overflow: auto;}
.msgs ul{list-style-type: none; margin: 0; padding: 0; display: inline-block; width: 100%}
.msgs ul li{padding: 5px 10px; border: 1px solid #eee; margin-bottom: 10px; background: #fff; border-radius: 10px; display: table; max-width: 85%}
.another{background: #effaff !important}

